@font-face {
  font-family: 'SmileySans';
  src: url('/SmileySans-Oblique.ttf.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DFPHeiW12';
  src: url('/DFPHeiW12-GB5.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  src: url('/poppins-800.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-smiley-sans {
  font-family: 'SmileySans';
}
.font-poppins {
  font-family: 'poppins';
}
.font-DFPHeiW12 {
  font-family: 'DFPHeiW12';
}

.hide-scroll {
  scrollbar-width: none;
}

.msg-title-bg {
  position: relative;
  z-index: 1;
}
.msg-title-bg::before {
  content: '';
  position: absolute;
  width: var(--w, 130%);
  height: var(--h, 60%);
  left: 0;
  bottom: 0;
  z-index: 0;
  background-image: linear-gradient(to right, #daff47, #d9d9d900);
}
